body {
    background-color: #eaf6f6; /* changed from eaf6f6 to honeydew */
    
}

/* Comment - Changes removed height:2px/ alternative border-style:dotted none */
hr {
   background-color: white;
   border-style: none;
   border-top-style: dotted;
   border-color: grey;
   border-width: 5px;
   width: 10%; /*-- This can be 30px or 30%, this stays evern if you resize the webpage */
}

img {
   height: 20px;
}

h1 {
    color: turquoise;
}

h3 {
    color: #66bfbf;
}

